body {
      background: #ffffff;
      background: linear-gradient(
        90deg,
        rgba(255, 255, 255, 1) 0%,
        rgba(72, 144, 199, 0.88) 52%
      );
      height: 100vh;
    }
    div {
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 50%;
      height: 800px;
      background: rgb(19, 16, 45);
      margin: auto; /*centrar horizontal*/
      padding-top: 10px;
    }
    h3,
    h2,
    h1,
    h5,
    h6 {
      font-family: "Dancing Script", cursive;
      text-align: center;
      color: white;
    }
    img {
      border-radius: 10px;
    }

    p {
      margin: 50px;
      margin-bottom: 20px;
      text-align: center;
      color: white;
    }

      a {
      color: aqua;
    }
    span {
      color: rgb(75, 113, 113);
      font-size: 20px;
      font-weight: bold;
    }

   #section-parrafo {
   width: 100%;
    background: #0000ff61;
   }

   #link-section {
   color: #161616;
    text-decoration: none;
   }

   button {
    height: 50px;
    width: 300px;
    border-radius: 20px;
   }


